body {
    background-color: rgb(250, 250, 250);
}

.bg-azul{
    background-color:  #011A31;
    opacity: 0.8;
}

a:hover{
    text-decoration: none;
}

.section {
    margin-top: 60px;
}

/* CLASSES DECLARADAS PARA OS CONTAINERS: FORMULARIO, CHART, LEGEND E CARD DISPLAY */


/* CLASSES DECLARADAS PARA O GRÁFICO DE DISPERSÃO  */
.axis .axis-y{
    stroke : none;
}

/* CLASSES DECLARADAS PARA O GRÁFICO BUBBLE PACK */
.bubble-middle{
    fill : #D7E8F3;
    z-index: -5;
}

.bubble-middle:hover{
    stroke: gray;
}

.bubble-leaf{
    stroke: none !important;
}

.bubble-root{
    fill: white;
    stroke: rgba(14, 13, 13, 0.69);
}

/* CLASSES DECLARADAS PARA O GRÁFICO TREEMAP */
.tree-layout{
    stroke: white;
    stroke-width: 0.5px;
}

/* CLASSES DECLARADAS PARA PADRONIZAÇÃO DAS LEGENDAS */

.legend{
    font-size: 10px;
    color : #252525;
    font-weight: bold;
}


/* REGRAS PARA FORMATAÇÃO DOS EIXOS DOS GRÁFICOS */

.axis-y > path {
    display: none;
}

.polygons {
    fill: none;
    stroke: #000;
  }

/* REGRAS PARA O TÍTULO DOS GRÁFICOS */

.chart-title {
    fill: #3B3B3B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

rect.bar {
    fill: steelblue;
}
