.bg-azul{
    background-color:  #011A31;
}

.section {
    margin: 25px auto 5px auto;
}

a:hover{
    text-decoration: none;
}

/* CLASSES DECLARADAS PARA OS CONTAINERS: FORMULARIO, CHART, LEGEND E CARD DISPLAY */
#chart{
    /* background-color: yellow; */
    display: block;
    margin : 0 auto;
}

#chart > svg {
    display: block;
    margin: 0 auto;
}

#card-display{
    max-height: 500px;
    max-width: 250px;
    margin-left: 10px;
    /* float: left; */
    /* background-color: yellow; */
}

/* CLASSES DECLARADAS PARA O GRÁFICO DE DISPERSÃO  */
.axis .axis-y{
    stroke : none;
}

/* CLASSES DECLARADAS PARA O GRÁFICO BUBBLE PACK */
.bubble-middle{
    fill : #D7E8F3;
    z-index: -5;
}

.bubble-middle:hover{
    stroke: gray;
}

.bubble-leaf{
    stroke: none !important;
}

.bubble-root{
    fill: white;
    stroke: rgba(14, 13, 13, 0.69);
}

/* CLASSES DECLARADAS PARA O GRÁFICO TREEMAP */
.tree-layout{
    stroke: white;
    stroke-width: 0.5px;
}

/* CLASSES DECLARADAS PARA PADRONIZAÇÃO DAS LEGENDAS */

.legendTitle{
    font-size: large;
    color : #252525;
    font-weight: bold;
}


/* REGRAS PARA FORMATAÇÃO DOS EIXOS DOS GRÁFICOS */

.axis-y > path {
    display: none;
}